<!doctype html>
<html>
    <head>

    	{% block head %}            
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="{{base_url}}assets/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="{{base_url}}assets/css/bootstrap-theme.min.css">
        {% endblock %}

    </head>
    <body>

    	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            			<span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
          			</button>
          			<a class="navbar-brand" href="{{base_url}}">Admin</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="index.php">
									<span class="glyphicon glyphicon-home"></span> Dashboard
								</a>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="glyphicon glyphicon-film"></span> Videos <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{base_url}}videos"><span class="glyphicon glyphicon-film"></span>List Videos</a>
									</li>
									<li>
										<a href="{{base_url}}video_categories"><span class="glyphicon glyphicon-user"></span>Video Categories</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="http://localhost/newcrm/public/admin/todos">
									<span class="glyphicon glyphicon-list-alt"></span> Todos
								</a>
							</li>
							<li>
								<a href="{{base_url}}configuration">
									<span class="glyphicon glyphicon-cog"></span>Configuration
								</a>
							</li>
							
							<ul class="nav navbar-nav navbar-right">
								<li>									
									<a href="actions/logout.php">
										<span class="glyphicon glyphicon-log-out"></span> Logout
									</a>
								</li>
							</ul>
					</div><!--/.navbar-collapse -->
				</div>
			</div>
		</div>		

		<div class="container" style="margin-top:35px">
        
	        {% block content %}
	        {% endblock %}

    	</div>

    	<footer>
    	</footer>
    	<script src="assets/js/jquery.min.js"></script> 
       <script src="assets/js/bootstrap.min.js"></script> 

    </body>
</html>