<!doctype html>
<html>
    <head>

    	{% block head %}            
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}

    </head>
    <body>
        

        
    </body>
</html>