{% extends "@layouts/backend.twig.html" %}

{% block title %}Main Index Page{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    
									
	
	<div class="row" style="margin-top:30px;">
			<form method="post" action="">

				<input type="hidden" name="csrf_token" value="{{csrf_token}}" />

				<!-- API Key -->
				<div class="form-group">
					<label class="control-label" for="apiKey">API Key</label>
					<input type="text" class="form-control" name="api_key" id="apiKey" value="" required />					
				</div>

				<!-- API Secret -->
				<div class="form-group">
					<label class="control-label" for="apiSecret">API Secret</label>
					<input type="text" class="form-control" name="api_secret" id="apiSecret" value="" required />					
				</div>

				<!-- API Url -->
				<div class="form-group">
					<label class="control-label" for="apiUrl">API Url</label>
					<input type="text" class="form-control" name="api_url" id="apiUrl" value="" required />					
				</div>

				<!-- CDN ID -->
				<div class="form-group">
					<label class="control-label" for="cdnId">CDN ID</label>
					<input type="text" class="form-control" name="cdn_id" id="cdnId" value="" required />					
				</div>

				<!-- FTP User -->
				<div class="form-group">
					<label class="control-label" for="ftpUser">FTP User</label>
					<input type="text" class="form-control" name="ftp_user" id="ftpUser" value="" required />					
				</div>

				<!-- FTP Host -->
				<div class="form-group">
					<label class="control-label" for="ftpHost">FTP Host</label>
					<input type="text" class="form-control" name="ftp_host" id="ftpHost" value="" required />					
				</div>

				<!-- FTP Password -->
				<div class="form-group">
					<label class="control-label" for="ftpPassword">FTP Password</label>
					<input type="text" class="form-control" name="ftp_password" id="ftpPassword" value="" required />					
				</div>

				<!-- Form actions -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>					
					<button type="reset" class="btn btn-default">Reset</button>
				</div>

			</form>
	</div>

{% endblock %}