{% extends "@layouts/backend.twig.html" %}

{% block title %}Main Index Page{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    
									
	
	<div class="row" style="margin-top:30px;">
			{% if success_msg !='' %}
			{{success_msg}}
			{% endif %}
			
			<form method="post" action=""  enctype="multipart/form-data">

				<input type="hidden" name="csrf_token" value="{{csrf_token}}" />

				<!-- Category Title -->
				<div class="form-group">
					<label class="control-label" for="categoryTitle">Category Title</label>
					<input type="text" class="form-control" name="category_title" id="categoryTitle" value="" required />					
				</div>

				<!-- Category Description -->
				<div class="form-group">
					<label class="control-label" for="categoryDescription">Category Description</label>					
					<textarea class="form-control" name="category_description" id="categoryDescription"> 
					</textarea>		
				</div>

			

				<!-- Category Image -->
				<div class="form-group">
					<label class="control-label" for="categoryImage">Category Image</label>					
					<input  class="form-control"  type="file" id="categoryImage" name="category_image"/>
				</div>

				<!--Cateogry Status -->
				<div class="form-group">
					<label class="control-label" for="categoryStatus">Category Status</label>					
					<select class="form-control" name="category_status" id="categoryStatus">
						<option value="1">Visible</option>
						<option value="0">Invisible</option>
					</select>
				</div>

				

				<!-- Form actions -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>					
					<button type="reset" class="btn btn-default">Reset</button>
				</div>

			</form>
	</div>

{% endblock %}