{% extends "@layouts/backend.twig.html" %}

{% block title %}Main Index Page{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    
									
	
	<div class="row">
			<h1>Dashboard</h1>
			<p>Welcome FirstName LastName,</p>
			<p>You are logged in as an administrator user. Feel free to surf.</p>	
	</div>

{% endblock %}