{% extends "@layouts/backend.twig.html" %}

{% block title %}Main Index Page{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="assets/backend/css/login.css">
{% endblock %}

{% block content %}
    <form method="post" action="http://utouchpos.com/tools/public/admin/signin" class="form-signin" role="form">		
		<h3>Please signin</h3>
		<input type="hidden" name="_token" value="C923uSi8igfEyrK2OxzRTNyD1dafD3QYVOyi9OQ0" />
		<div class="form-group">
			<input class="form-control" type="email" name="email" id="email" value="" placeholder="Email address" required autofocus />
				</div>		
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Password" name="password" id="password" value="" required />
				</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>

{% endblock %}