{% extends "@layouts/backend.twig.html" %}

{% block title %}Main Index Page{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    
									
	
	<div class="row" style="margin-top:30px;">
			<form method="post" action="">

				<input type="hidden" name="csrf_token" value="{{csrf_token}}" />

				<!-- Video Title -->
				<div class="form-group">
					<label class="control-label" for="videoTitle">Video Title</label>
					<input type="text" class="form-control" name="video_title" id="videoTitle" value="" required />					
				</div>

				<!-- Video Description -->
				<div class="form-group">
					<label class="control-label" for="videoDescription">Video Description</label>					
					<textarea class="form-control" name="video_description" id="videoDescription"> 
					</textarea>		
				</div>

				<!-- Video File -->
				<div class="form-group">
					<label class="control-label" for="videoFile">Video File</label>					
					<input  class="form-control"  type="file" id="videoFile" name="video_file"/>
				</div>

				<!-- Video Image -->
				<div class="form-group">
					<label class="control-label" for="videoImage">Video Image</label>					
					<input  class="form-control"  type="file" id="videoImage" name="video_image"/>
				</div>

				<!-- -->
				<div class="form-group">
					<label class="control-label" for="videoStatu">Video Status</label>					
					<select class="form-control" name="video_status" id="videoStatus">
						<option value="1">Visible</option>
						<option value="0">Invisible</option>
					</select>
				</div>

				

				<!-- Form actions -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Upload</button>					
					<button type="reset" class="btn btn-default">Reset</button>
				</div>

			</form>
	</div>

{% endblock %}