{% extends "@layouts/backend.twig.html" %}

{% block title %}Main Index Page{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    
									
	
	<div class="row" style="margin-top:30px;">

		<div class="btn-group">
			<a href="{{ base_url }}create_category" class="btn btn-default">Create Category</a>  				
		</div>

		<table class="table table-bordered table-hover">

			<thead>
				<th>S.No.</th>
				<th>Title</th>
				<th>Description</th>
				<th>Image</th>
				<th>Status</th>
				<th>Actions</th>
			</thead>

			<tbody>
				{% set counter = 0 %}
				{% for category in video_categories %}
				{% set counter = counter+1 %}
				<tr>
					<td>{{counter}}</td>
			        <td>{{ category.title|e }}</td>
			        <td>{{ category.description|e }}</td>
			        <td>{{category.image}}</td>
			        <td>
			        	{% if category.status == '1' %}
			        	Visible
			        	{% else %}
			        	Invisible
			        	{% endif %}
			        </td>
			        <td>
			        	<a href="{{base_url}}edit_category?id={{category.id}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</a>
			        	<a href="{{base_url}}delete_category?id={{category.id}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
			        	
			        </td>
			    </tr>
			    {% endfor %}
			</tbody>

			
		</table>
	</div>

{% endblock %}
