{% extends "@layouts/backend.twig.html" %}

{% block title %}Main Index Page{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    
									
	
	<div class="row" style="margin-top:30px;">
		<div class="btn-group">
			<a href="{{ base_url }}video_upload" class="btn btn-default">Video Upload</a>  				
		</div>
		<table class="table table-bordered table-hover">

			<thead>
				<th>S.No.</th>
				<th>Title</th>
				<th>Description</th>
				<th>Image</th>
				<th>Status</th>
			</thead>

			<tbody>
				{% set counter = 0 %}
				{% for video in videos %}
				{% set counter = counter+1 %}
				<tr>
					<td>{{counter}}</td>
			        <td>{{ video.title|e }}</td>
			        <td>{{ video.description|e }}</td>
			        <td>{{video.image}}</td>
			        <td>
			        	{% if video.status == '1' %}
			        	Visible
			        	{% else %}
			        	Invisible
			        	{% endif %}
			        </td>
			    </tr>
			    {% endfor %}
			</tbody>

			
		</table>
	</div>

{% endblock %}
